<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Saravanan R | Portfolio</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                Saravanan R
            </a>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" asp-action="Index">Home</a>
                <a class="nav-link" asp-action="About">About</a>
                <a class="nav-link" asp-action="Skills">Skills</a>
                <a class="nav-link" asp-action="Projects">Projects</a>
                <a class="nav-link" asp-action="Contact">Contact</a>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <main style="padding-top:70px;">
        @RenderBody()
    </main>

</body>
</html>
