@{
    Layout = "_Layout";
}

<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h1 class="hero-title">
                    Hello, I’m <span>Saravanan R</span>
                </h1>

                <h3 class="hero-subtitle">
                    ASP.NET Core MVC Developer
                </h3>

                <p class="hero-text">
                    Career switcher with 15 years of experience,
                    passionate about building professional web
                    applications using ASP.NET Core MVC.
                </p>

                <div class="mt-4">
                    <a asp-action="Projects" class="btn btn-primary btn-lg me-2">
                        View Projects
                    </a>

                    <a asp-action="Contact" class="btn btn-outline-light btn-lg me-2">
                        Contact Me
                    </a>

                    <a asp-action="ViewResume"
                       target="_blank"
                       class="btn btn-outline-warning btn-lg me-2">
                        View Resume
                    </a>

                    <a asp-action="DownloadResume"
                       class="btn btn-success btn-lg">
                        Download Resume
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
