@{
    Layout = "_Layout";
}

<div class="page-section">
    <div class="container">

        <h2 class="section-title">Technical Skills</h2>

        <div class="row g-4">

            <div class="col-md-4">
                <div class="content-card text-center">
                    <h5>C#</h5>
                    <p>Object-Oriented Programming</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-card text-center">
                    <h5>ASP.NET Core MVC</h5>
                    <p>Controllers, Views, Routing</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-card text-center">
                    <h5>Entity Framework Core</h5>
                    <p>Code First, LINQ, Migrations</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-card text-center">
                    <h5>SQL Server</h5>
                    <p>Queries, Joins, CRUD</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-card text-center">
                    <h5>Frontend</h5>
                    <p>HTML, CSS,
